{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
<div class="sps-outer">
    <div class="sps-inner">
        <div class="sps-content">
            <ul class="sps-content-list">
                {% for shark in sharks %}
                    <li class="sps-content-list-item">
                        <a href="{{shark.slug}}">
                            {% picture self.thumbnail original %}
                            <img src="{{shark.thumbnail}}" alt="{{shark.title}}">
                            <div class="sps-content-absolute">
                                <span>{{shark.title}}</span>
                                <span>See more</span>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
