# Ignore compiled files
*.class
*.o
*.pyc

# Ignore dependencies
/node_modules
/bower_components

# Ignore build artifacts
/build
/dist

# Ignore IDE and editor files
/.idea
/.vscode
*.sublime-project
*.sublime-workspace

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
/log
/tmp

.coverage
db.sqlite3
