:root {
  // General
  --thumbnail-width: 320px;
  --thumbnail-height: 176px;
  --grid-gap: 50px;
  --grid-coulums: 3;
}

// Media queries
@include small-screens {
  :root {
    // General
    --thumbnail-width: 100%;
    --thumbnail-height: auto;
  }
}

.sps {
  &-content {
    display: flex;
    justify-content: center;

    &-list {
      display: grid;
      grid-template-columns: repeat(
        var(--grid-coulums),
        var(--thumbnail-width)
      );
      grid-gap: var(--grid-gap);
      padding: unset;

      &-item {
        max-width: var(--thumbnail-width);
        height: var(--thumbnail-height);
        word-wrap: break-word;
        list-style: none;
        cursor: pointer;
        overflow: hidden;
        border-radius: 45px;
        position: relative;

        img {
          max-width: var(--thumbnail-width);
          width: 100%;
          height: var(--thumbnail-height);
          object-fit: cover;
        }
      }
    }

    &-absolute {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      backdrop-filter: blur(4px);
      color: var(--color-white);
      font-size: 12px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
