:root {
  // General
  --sp-padding: 20px;
  --img-width: 100%;
  --img-height: 500px;

  // Derived values
  --sidebar-padding: unset;
}

// Media queries
@include small-screens {
  :root {
    // General
    --img-width: 100%;
    --img-height: auto;
  }
}

.sp {
  &-inner {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--sp-padding);
    background-color: var(--color-grid);
    -webkit-backdrop-filter: var(--backdrop-filter);
    backdrop-filter: var(--backdrop-filter);
    color: var(--color-white);
    grid-gap: var(--sp-padding);
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
    flex-direction: column;
  }

  &-content {
    border: 2px solid var(--color-white);
    border-radius: 25px;
    overflow: hidden;

    color: var(--color-white);

    &-inner {
      grid-gap: var(--sp-padding);
      display: flex;

      &-left {
        display: flex;
        flex-direction: column;
        grid-gap: var(--sp-padding);
        width: 60%;

        &-upper {
          display: flex;
          grid-gap: var(--sp-padding);
        }
      }

      &-right {
        width: 40%;
      }
    }

    &.image {
      // img object without altering aspect ratio
      picture {
        display: flex;
        width: 100%;
        height: 100%;

        & img {
          object-fit: cover;
          height: var(--img-height);
          width: var(--img-width);
        }
      }
    }

    & > .text-align-center {
      text-align: center;
    }
  }
}
